{% extends "layout.html" %}

{% block content%} 
    <h2 class="mb-4 mt-5 pt-4"> {{ posts.total }} Pitches by {{user.username}} </h2>

    {% for post in posts.items %}

    <article class="media content-section">
      <img class="rounded-circle article-img" src="https://source.unsplash.com/125x125/?profile,photo" alt="{{ post.author.username }} profile photo">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted mr-2">{{ post.posted_date.strftime('%Y-%m-%d') }}</small>
                <small>Posted in: <a class="mr-2" href="{{ url_for('posts.category_post', category=post.category) }}">{{ post.category }}</a></small>

              </div>
              <h2><a class="article-title mt-2" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
            <p class="article-footer"><a class="ratings" href="{{ url_for('posts.new_comment', post_id=post.id) }}"> Leave a comment</a></p>


    </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
      <a class="btn btn-sm btn-info mb-2 mt-2" href="{{ url_for('users.user_posts', username = user.username, page=page_num) }}"> {{page_num}} </a>
        {% else %}
        <a class="btn btn-sm btn-outline-info mb-2 mt-2" href="{{ url_for('users.user_posts', username = user.username, page=page_num) }}"> {{page_num}} </a>
        {% endif %}

      {% else %}
        ...
      {% endif %}

    {% endfor %}

{% endblock content %}
       
